
.body-hidden {
    overflow: hidden;
}

/* hero section */
.hero-section{
    background: #EDF2F7;
    height: 600px;
}


.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainNav{
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    list-style: none;
}

.mainNav li{
    display: inline-block;
}

.mainNav li a {
    color: #071827;
    margin: 0 22px;
    font-weight: 14px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.mainNav li.headerbtn a {
    color: #fff;
}

.btn-verox{
    background: #4D3B91;
    border-radius: 4px;
    color: white;
    padding: 10px 30px;
    transition: all ease-in .15s;
}

.btn-verox:hover{
    background: #4D3B91;
    color: white;
}

.hero-head{
    margin-top: 60px;
    margin-left: 40px;
}
.hero-break{
    display: inline-block;
}

.navicon{
    /* position: fixed; */
    z-index: 99999;
    position: absolute;
    height: 26px;
    right: 20px;
    top: 20px;
    display: none;
    transition: all .3s ease-in-out;
    width: 35px;
}

.nav-toggle{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-toggle span{
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
    background: #4D3B91;
    cursor: pointer;
    top: 10px;
    transition: all .2s ease-in-out;
}


/* active hamburger for close */
.nav-toggle.active span {
    background-color: transparent;
}

.nav-toggle.active span:before {
    top: 0;
}
.nav-toggle.active span:before {
 -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
     top: 10px;
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg);
}

.nav-toggle span:before{
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
    background: #4D3B91;
    cursor: pointer;
    top: 10px;
    transition: all .2s ease-in-out
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}
.nav-toggle span:after{
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 2px;
    border-radius: 1px;
    background: #4D3B91;
    cursor: pointer;
    top: 10px;
    transition: all .2s ease-in-out;
}

/* about section */
.about-section{
    background: linear-gradient(rgba(237,242,247,0.5), rgba(237,242,247,0.5));
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-span{
    font-weight: bold;
    color: #4D3B91;
    position: relative;
}
.about-span img{
    position: absolute;
    bottom: -6px;
    left: 0px
}
.about-card{
    background: #FFFFFF;
    border-radius: 48px;
    padding: 30px 30px;
    height: 513.91px;
}
.about-img{
 position: relative;
}

.about-img .about-img1{
    position: absolute;
    top: 0px;
    padding: 20px 25px;
}

.about-links .private{
    color: #4D3B91;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.about-links div.private{
    margin-top: 80px;
}

.about-links .public{
    color: #F6A300;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.about-links div.public{
    margin-top: 50px;
}

.about-links .student{
    color: #168342;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}
.about-links div.student{
    margin-top: 80px;
}



/* process section */
.process-section{
    background: #4F4398;
    padding-top: 70px;
    padding-bottom: 70px;
}

.process-head{
    color: #FFFFFF;
    font-weight: 800;
    position: relative;
}
.process-head img{
    position: absolute;
    left: 40px;
    top: 40px;
    bottom: 0px;
}

/* download section */
.download-section{
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}
.download-div{
    background: #dce3e9;
    border-radius: 16px;
    padding-top: 20px;
}
.download-icon{
    display: flex;
}

/* footer styles */
footer{
    background: #112232;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-links{
    display: flex;
    color: #E9F2FF;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    list-style: none;
}

.footer-link li {
    margin-right: 20px;
}

.footer-link li:last-child{
    margin-right: 0px;
}

.footer-link li a{
    color: #E9F2FF;
    font-size: 15px;
    text-decoration: none;
}



/* Media query for smaller phones */
@media (max-width:767px) {
.navicon{
    display: block;
    margin-top: 10px;
}
/* hero section */
.hero-section{
    height: auto;
}
.header nav{
    position: fixed;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
}
.header nav.open{
    visibility: visible;
    background: rgba(0,0,0,.9);
}
.mainNav {
    position: relative;
    left: 50%;
    top: 50%;
    /* -webkit-transform: translate(-50%,-50%); */
    transform: translate(-50%,-50%);
}

.mainNav li:nth-child(1) {
    transition-delay: 50ms;
}

.header nav .mainNav li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translate3d(0,-80px,0);
    transform: translate3d(0,-80px,0);
    transition: opacity .5s,-webkit-transform .5s;
    transition: transform .5s,opacity .5s;
    transition: transform .5s,opacity .5s,-webkit-transform .5s;
    display: block;
}

.header nav.open .mainNav li {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin-bottom: 20px;
}

.mainNav li a {
    color: #fff;
    font-size: 15px;
}

.mainNav li.navLink a:before {
    background: none;
}

.mainNav li a.active, .mainNav li a:hover {
    color: #4D3B91;
}

.mainNav li.headerbtn a:hover{
    color: white;
}


.hero-head{
    margin-top: 10px;
    margin-left: 0px;
}
.hero-break{
  display: initial;
}

/* about section */
.about-card{
   height: auto;
}
.about-links div.private{
    margin-top: 60px;
}
.about-links div.public{
    margin-top: 60px;
}
.about-links div.student{
    margin-top: 60px;
}

/* download section */
.download-div{
    padding-bottom: 40px;
}
.download-icon{
    display: flex;
    flex-direction: column;
}

/* footer section */
.footer-links{
    display: flex;
    color: #E9F2FF;
    flex-direction: column;
}
.footer-link{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.footer-link li{
    margin-top: 10px;
}

}