*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

@font-face{
  font-family: 'MarkPro';
  src: local('MarkPro'), url(./fonts/markpro/MARKPROMEDIUM.OTF);
}

@font-face{
  font-family: 'MarkProHeavy';
  src: local('MarkPro'), url(./fonts/markpro/MARKPROHEAVY.OTF);
}

body{
  font-family: 'MarkPro';
  color: #071827;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}